@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply text-blue-800 hover: text-blue-600;
  }
} */
html {
  --primary: #6c63ff;
}

html.dark {
  --primary: #222831;
}

html {
  scroll-behavior: smooth;
}

nav ul li a.active:before,
nav ul li a.active:after,
nav ul li:hover a:before,
nav ul li:hover a:after {
  width: 100%;
  opacity: 1;
}

nav ul li a:before,
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  background-color: var(--primary);
}

nav ul li a.active:before,
nav ul li a.active:after,
nav ul li:hover a:before,
nav ul li:hover a:after {
  width: 100%;
  opacity: 1;
}

/* .prose code {
  @apply text-gray-800 dark: text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark: text-gray-50;
} */
.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

/* #_next {
  height: 100%;
} */
